// font size

$logo-fz: 26px;

$primary-title-fz: 24px;

$title-fz: 22px;

$normal-fz: 14px;

$small-fz: 12px;

$version-fz: 10px;

// colors

$links-color: #9197b3;

$bg-color: #fafbff;

$active-color: #5932ea;

$green-color: #00b087;

$green-color-light: #16c09861;

$red-color: #df0404;

$red-color-light: #ffc5c5;

$contrast-color: #ffffff;

$black-color: #000000;

// font-family

$font-family: "Poppins", sans-serif;

// font-weight

$regular-fw: 400;

$medium-fw: 500;

$bold-fw: 600;
